*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background-color: #f4f4f4 */
}
.root{
 position: static;
 
}
.preNav{
    background-color: #bbbb;
    width: 100%;
    height: 5vh;
}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: gold;
    height: 10vh;
    /* padding: 34px 30px; */
}
.navHeader{
    font-weight: 300;
    font-style: italic;
    font-size: large;
    cursor: pointer;
    /* align-content: flex-start; */
    align-items: center;
}
.navMenu{
    display: flex;
    justify-items: center;
}
.navMenu li{
    list-style: none;
    cursor: pointer;
    display: inline-block;
}
.about{
    background-color: lightyellow;
    height: 40vh;
    width: 100%;
}
